

/* importation de la police */
@font-face {
    font-family: Avenir-Roman-12;
    src: url('../fonts/Avenir-Roman-12.woff') format("woff");
}

body{
    background-color: #040714;
    color: white;
    font-family: 'Avenir-Roman-12';
    /* configuration background image */
    background-image: url( /assets/olp_hero_desktop_UKI_FR.jpg) ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 1200px;
    width: 100%;
        /* configuration background image */
    
}
  /* positionnement logo */
  /* placer le logo au milieu de l'image intro*/
  .logo img{
    width: 200px;

   
    

    
}
/* ---------HEADER------- */

/* ---------HEADER------- */
/* barre nav container */ 
nav {
display: flex;
background-color: transparent;
justify-content: flex-end;}
 
   /* barre nav */  
   ul{
       display:flex;
}

   /* mettre la taille normal du texte des prix abonnement */
   span{
       font-weight: normal;
   }

   /* taille police : titre principale */
h1{
  
    font-size: 42px;
     margin: 0px 0px 0px 51px; 
}
/* element parent de btns */
   /*  ajuster la taille des btn nav barre */
.btn-inscription, .btn-identification{
    padding: 8px 16px ;
    list-style: none;
    background-color: rgba(0,0,0,.6);
    border: white 2px solid;
    margin: 8px;
   justify-content: flex-end;
   }
   /* faire disparaitre btn inscription */
   .btn-inscription{
       display: none;
   }

   .logo-producteurs{
    padding: 344px 0px 32px 0px
}

/* coloriage des paragraphe en grey definition taille police*/
p{
    color:darkgray;
    text-align: center;
    font-size: 18px;
}



.section-intro{
    display: flex;
    flex-direction: column;
}
 /* mettre le container prix-box en ligne */

 .prix-box{
    display: flex;
    text-align: justify;
    padding: 111px 0px 0px 0px;
    margin: 0px 0px 0px 25px;
    
    
    
}
.btn-regardez,.btn-economiser{
    background-color: #0483EE;
    color: white;
    width: 300px;
    height: 78px;
    font-size: 18px;
    padding: 16px 14px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.prix-box h3{
    text-align: justify;
}


/* definition de la taille et titres des section avec iamges */
h2 {
    
    font-size: 34px;
    text-align: center;
    
}
/* setup de la zone de texte pour tout les sections */
.texte-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    /* positionnement des sections */
}
.section1{
    display: flex;
    align-items: center;
}
.section2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section1 figure{
    width: 80%;
    border: 5px yellow solid;
}

/* positionnement sections devices */
.devices{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}

/* section devices */
.devices img{
    width: 50%;
}

/* -------------FOOTER------------- */

/* -------------FOOTER------------- */

/* section footer */
.logo-footer{
    display: flex;
   align-items: center;
    width: 100%;
    justify-content: center;
}
 /* section footer */
 .propos{
    display: flex;
    justify-content: center; 
    text-align:justify;
    flex-wrap: wrap;
 


} 

.propos a{
    color:white;
    padding: 8px 12px;
    text-decoration: none;
}

