
main{
    width: 100%;

}
/* importation de la police */
@font-face {
    font-family: Avenir-Roman-12;
    src: url('../fonts/Avenir-Roman-12.woff') format("woff");
}

body{
    background-color: #040714;
    color: white;
    font-family: 'Avenir-Roman-12';
    /* configuration background image */
    background-image: url( /assets/olp_hero_desktop_UKI_FR.jpg) ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 1200px;
    max-width: 100%;

        /* configuration background image */
    
}
  /* positionnement logo section intro */
  /* placer le logo au milieu de l'image intro*/
  .logo img{
    width: 200px;

   
    

    
}
/* ---------HEADER------- */

/* ---------HEADER------- */

header{
    display: flex;
}
.logo-nav{
    justify-content: flex-start;
   color: transparent;
   
}
.logo-nav img{
   opacity:0;
   /* cacher le logo de nav barre sans modifier mon positionnement en flex */
 
}
/* nav container */
nav{
  position: fixed;
  /* pour fixer la barre nav */
    display: flex;
    justify-content: flex-end;
}
ul{
    margin: 29px 0px 0px 0px;
    display: flex;
}
/* nav li btns */
li{
   padding-top: 10px;
   
}



   /* mettre la taille normal du texte des prix abonnement */
   span{
       font-weight: normal;
   }

   /* taille police : titre principale */
h1{
  
    font-size: 42px;
     margin: 0px 0px 0px 51px; 
}
/* element parent de btns */
   /*  ajuster la taille des btn nav barre */
.btn-inscription, .btn-identification{
   list-style: none;
   background-color: rgba(0,0,0,.6);
   border: white 2px solid;
   justify-content: flex-end;
   width: 200px;
   text-align: center;
   height: 30px;
   text-align: center;
   border-radius: 5%;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
}

   
   /* faire disparaitre btn inscription */
   .btn-inscription{
    margin: 0px 19px 0px 0px;
    opacity: 0;
    /* border: lawngreen 5px solid */
   }

   .btn-inscription:hover,.btn-identification:hover{
    background-color: white;
    color: black;
   }
   .logo-producteurs{
    padding: 344px 0px 32px 0px
}

/* coloriage des paragraphe en grey definition taille police*/
p{
    color:darkgray;
    text-align: center; 
    font-size: 18px;
   
}




     
    
    

hr{
    
    display: none;
}
.prix-box{
    margin: 33px 0px 0px 53px;
    display: flex;

}

.btn-regardez,.btn-economiser{
    background-color: #0483EE;
    color: white;
    width: 300px;
    height: 78px;
    font-size: 18px;
    border-radius: 15px;
   
   
  
}
.div-prix-annuel{
    padding: 0px 0px 0px 26px;
}

/* espacer les p en dessus des btn */

/* conditions de abbo p */
.conditions-abonnement{
    display: flex;
    margin: 0px 0px 0px 52px;
    width: 68%;
    height: 54px;
    
}
.conditions-abonnement-p{
    font-size: small;
}
 

/* container section intro */
.section-intro{
    padding: 33px 0px 0px 53px;
    margin: 55px 0px 0px 0px;
    
    
}

/* les prix en destaque */
.prix-box h3{
   
   
    color: white;
}
/* phrase prix */
span{
    color: darkgray;
}
/* definition de la taille et titres des section avec iamges */
h2 {
    
    font-size: 34px;
    text-align: center;
    
    
    
}
/* fleche */
#fleche{
    display: flex;
    justify-content: flex-end;
    width: 100%
}


/* setup de la zone de texte pour tout les sections */
.texte-section{
 
   
   
   
    
    /* positionnement des sections */
}
.section-divertissement ,.section-mobilite , .section-nouveaute , .section-telechargement{
    display: flex;
    
  
   
}
/* section à droite */

.texte-section-right{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
width: 60%;

  

}
.texte-section-right h2{
    margin-top:60px ;
}



/* sections à gauche */
.section-mobilite, .section-telechargement{
  display: flex;
  flex-direction: row-reverse;


    
}
.texte-section-left{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}


.section-divertissement img,.section-mobilite img, .section-nouveaute img, .section-telechargement img{
    width: 762px;

}


/* positionnement sections devices */

/* positionnement sections devices */


.section-devices h3{
   text-align: center;
    
   
}
.appareils{
    display: flex;
    justify-content: center;
   

}
/* icons devices */
.appareils img{
   
    width: 100%;
}



/* -------------FOOTER------------- */

/* -------------FOOTER------------- */

/* section footer */
.logo-footer{
    display: flex;
   align-items: center;
    width: 100%;
    justify-content: center;
}
 /* section footer */
 .propos{
    display: flex;
    justify-content: center; 
    text-align:justify;
    flex-wrap: wrap;
 


} 

.propos a{
    color:white;
    padding: 8px 12px;
    text-decoration: none;
}

